body {
    height: 200vh;
}


div {
    height: 200px;
    border: 3px solid black;
}

/* Below shows an example of CSS Position Sticky value / Once you set a range, after you scroll up or down, the element will stick to that range location set. */
.red {
 background: red;
 position: sticky;
 top: 100px;
 width: 100%;
 box-sizing: border-box;
}

